<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2>Add a new event</h2>
    <% @messages.each do |message| %>
        <p class="warning"><%= message %></p>
    <% end %>
    <form action="/events" method="post">
        <input type="text" placeholder="Title" name="title" value="<%= @event.title %>">
        <textarea placeholder="Details" name="details"><%= @event.details %></textarea>
        <label class="left">Start date</label>
        <input type="date" name="start_at" value="<%= @event.start_at.to_date %>">
        <label>End date</label>
        <input type="date" name="end_at" value="<%= @event.end_at.to_date %>">
        <button class="new-event">Add</button>
    </form>
</main>