<div class="user">
    <header>
        <nav class="main-nav">
            <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a>
            <p class="lobster">Retrospection</p>
            <a href="/photos"><img src="https://i.imgur.com/4KYrctE.png"></a>
        </nav>
    </header>
    <main>
        <h2>Edit details</h2>

        <% @messages.each do |message| %>
            <p class="warning"><%= message %></p>
        <% end %>
        <p class="successful"><%= @successful %></p>
        <form action="/users/<%= current_user.id %>" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="text" placeholder="First name" name="first_name" value="<%= current_user.first_name %>">
            <input type="text" placeholder="Last name" name="last_name" value="<%= current_user.last_name %>">
            <input type="email" 
            placeholder="Email" name="email" value="<%= current_user.email %>">
            <label>Confirm password to apply changes</label>
            <input type="password" placeholder="Current password" name="password">
            <button>Update</button>
        </form>
        <a href="/users/<%= current_user.id %>/edit_password" class="additional-details">Change password</a>
        <form class="logout" action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>
    </main>
</div>