<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2>Edit event details</h2>
    <form action="/events/<%= @event.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="text" placeholder="Title" name="title" value="<%= @event.title %>">
        <textarea name="details" placeholder="Details" name="details"><%= @event.details %></textarea>
        <label class="left">Start date</label>
        <input type="date" name="start_at" value="<%= @event.start_at.to_date %>">
        <label class="left">End date</label>
        <input type="date" name="end_at" value="<%= @event.end_at.to_date %>">
        <button class="save">Save</button>
    </form>
</main>