<header>
<% if !logged_in? %>
    <a href="/">Log in</a>
<% end %>
    <nav>
        <a href="/users/<%= current_user.id %>/edit">Edit account</a>
    </nav>
    <h1>Events</h1>
    <section>
        <a href="/events/add">Add event</a>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Search events">
            <button>Go!</button>
        </form>
    </section>
</header>
<main>
<% dates = [] %>
<% @events.each do |event| %>
    <% if dates.exclude?(event.start_at) %>
        <% if event.start_at == event.end_at %>
            <p class="border-top-bottom"><%= event.start_at.strftime("%a, %e %b %Y") %></p>
        <% else %>
            <p class="border-top-bottom"><%= event.start_at.strftime("%a, %e %b %Y") %> - <%= event.end_at.strftime("%a, %e %b %Y") %></p>
        <% end %>
        <% dates << event.start_at %>
    <% end %>
    <a href="/events/<%= event.id %>">
        <h2><%= event.title %></h2>
        <p><%= event.details %></p>
    </a>
<% end %>
</main>
<footer>
    <a href="/events">Events</a>
    <a href="/photos">Photos</a>
</footer>