<header>
    <nav>
        <a href="">Options</a>
        <a href="">Calendar</a>
    </nav>
    <h1>Events</h1>
    <section>
        <a href="/events/add">Add event</a>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Search events">
            <button>Go!</button>
        </form>
    </section>
</header>
<main>
    <section>
        <% @events.each do |event| %>
            <% if event.start_at == event.end_at %>
                <p><%= event.start_at %></p>
            <% else %>
                <p><%= event.start_at %> - <%= event.end_at %></p>
            <% end %>
            <a href="/events/<%= event.id %>">
                <h2><%= event.title %></h2>
                <p><%= event.details %></p>
            </a>
        <% end %>
    </section>
</main>
<footer>
    <a href="/events">Events</a>
    <a href="/photos">Photos</a>
</footer>