<% if !logged_in? %>
    <a href="/">Log in</a>
<% end %>
<header>
    <nav class="main-nav">
        <a href="/photos"><img src="https://i.imgur.com/4KYrctE.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <section class="add">
        <a href="/events/add">
            <img src="https://i.imgur.com/FZzaEan.png">
            <p>Add event</p>
        </a>
    </section>
    <section>
        <form class="search" action="">
            <input type="text" placeholder="Search events">
            <button>Go!</button>
        </form>
    </section>
    <section class="list">
    <% dates = [] %>
    <% @events.each do |event| %>
        <% if dates.exclude?(event.start_at) %>
            <% if event.start_at == event.end_at %>
                <p class="border-top-bottom"><%= event.start_at.strftime("%a, %e %b %Y") %></p>
            <% else %>
                <p class="border-top-bottom"><%= event.start_at.strftime("%a, %e %b %Y") %> - <%= event.end_at.strftime("%a, %e %b %Y") %></p>
            <% end %>
            <% dates << event.start_at %>
        <% end %>
        <a href="/events/<%= event.id %>">
            <h2><%= event.title %></h2>
            <p><%= event.details %></p>
        </a>
    <% end %>
    </section>
</main>
</div>