<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2 class="left"><%= @event.title %></h2>
    <p class="left"><%= @event.details %></p>
    <% if @event.start_at == @event.end_at %>
        <p class="left bold">Date: <%= @event.start_at.strftime("%a, %e %b %Y") %></p>
    <% else %>
        <p class="left bold">Date: <%= @event.start_at.strftime("%a, %e %b %Y") %> - <%= @event.end_at.strftime("%a, %e %b %Y") %></p>
    <% end %>
    <a class="edit" href="/events/<%= @event.id %>/edit">Edit</a>
    <% @photos.each do |photo| %>
        <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image_url %>" alt="">
        </a>
    <% end %>
    <button class="delete" id="delete-event">Delete</button>
    <form class="hide" id="delete-event-form" action="/events/<%= @event.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <label class="warning" for="">Are you sure? This action cannot be reversed.</label>
        <button class="delete">Yes</button>
    </form>
</main>

<script>
    var deleteEvent = document.getElementById('delete-event');
    var deleteEventForm = document.getElementById('delete-event-form');

    var unhideEventForm = function() {
        deleteEventForm.classList.remove('hide');
    };

    deleteEvent.addEventListener('click', unhideEventForm);
</script>