<header>
    <nav>
        <a href="/events">
            <i class="fas fa-chevron-left"> Back</i>
        </a>
    </nav>
</header>
<main>
    <h1><%= @event.title %></h1>
    <p><%= @event.details %></p>
    <% if @event.start_at == @event.end_at %>
        <p>Date: <%= @event.start_at %></p>
    <% else %>
        <p>Date: <%= @event.start_at %> - <%= @event.end_at %></p>
    <% end %>
    <a href="/events/<%= @event.id %>/edit">Edit</a>
    <form action="/events/<%= @event.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
    </form>
    <% @photos.each do |photo| %>
        <img src="<%= photo.image_url %>" alt="">
    <% end %>
</main>