<header>
    <nav class="main-nav">
        <a href="/photos"><img src="https://i.imgur.com/wPDxoyR.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2>Photo details</h2>
    <p><%= @photo.timestamp.in_time_zone("Australia/Melbourne").strftime("%A %e %B %Y @ %T") %></p>
    <img src="<%= @photo.image_url %>" alt="">
    <% if @photo.event %>
        <p>This photo is part of the event: <%= @photo.event.title %></p>
        <form action="/photos/<%= @photo.id %>" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="input_id" value="nil">
            <button>Remove</button>
        </form>
    <% else %>
        <p>Add to an event:</p>
        <form action="/photos/<%= @photo.id %>" method="post">
            <input type="hidden" name="_method" value="put">
            <select name="event_id">
                <% @events.each do |event| %>
                    <option value="<%= event.id %>"><%= event.title %></option>
                <% end %>
            </select>
            <button>Add</button>
        </form>
    <% end %>
</main>
<footer>
    <form action="" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete photo</button>
    </form>
</footer>